<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lz.hospital.persistence.SickMapper">
    <resultMap id="ksList" type="cn.lz.hospital.domain.KS">
        <result column="ywdx_bm" property="id" jdbcType="INTEGER"/>
        <result column="ywdx_name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="treatNoMap" type="java.util.Map">
        <result column="treat_no" jdbcType="VARCHAR" property="treat_no"/>
    </resultMap>
    <resultMap id="ghTypeMap" type="cn.lz.hospital.domain.GhType">
        <result column="reg_bm" jdbcType="VARCHAR" property="reg_bm"/>
        <result column="reg_name" jdbcType="VARCHAR" property="reg_name"/>
        <result column="reg_money" jdbcType="VARCHAR" property="reg_money"/>
    </resultMap>

    <resultMap id="zyPayAbleMap" type="cn.lz.hospital.domain.ZyPayable">
        <result column="zy_bm" jdbcType="VARCHAR" property="zy_bm"/>
        <result column="Xm" jdbcType="VARCHAR" property="xm"/>
        <result column="Total" jdbcType="NUMERIC" property="total"/>
    </resultMap>

    <resultMap id="mzPayAbleMap" type="cn.lz.hospital.domain.MzPayable">
        <result column="Bm" jdbcType="NUMERIC" property="bm"/>
        <result column="Xm" jdbcType="VARCHAR" property="xm"/>
        <result column="Total" jdbcType="NUMERIC" property="total"/>
    </resultMap>


    <!--科室列表查询-->
    <select id="getAllById" resultMap="ksList" statementType="CALLABLE" parameterType="java.lang.Integer">
        {call pMobile_KsList }
    </select>
    <!-- •	就诊人card_no唯一性验证 -->
    <select id="checkUniqueness" resultType="java.lang.Integer" statementType="CALLABLE"
            parameterType="java.lang.String">
        declare @result int
        exec @result = pMobile_CardVerification #{card_no}
        select @result
    </select>
    <!--医生列表 -->
    <select id="getDoctorAllList" resultType="cn.lz.hospital.domain.Doctor" statementType="CALLABLE">
        {call pMobile_YsList}
    </select>

    <select id="getDoctorById" resultType="cn.lz.hospital.domain.Doctor" statementType="CALLABLE" parameterType="java.lang.Integer">
        {call pMobile_YsList(#{department_id,mode=IN})}
    </select>

    <!-- 挂号-->
    <select id="insertRegistration" resultType="java.lang.String" statementType="CALLABLE">
        exec pMobile_GhInsert #{name,mode=IN,jdbcType=VARCHAR},
        #{sex,jdbcType=INTEGER,mode=IN},
        #{age,jdbcType=INTEGER,mode=IN},
        #{card_no,jdbcType=VARCHAR,mode=IN},
        #{doctor_id,jdbcType=INTEGER,mode=IN},
        #{department_id,jdbcType=INTEGER,mode=IN},
        #{ghtype_id,mode=IN,jdbcType=INTEGER,mode=IN},
        #{id_card,mode=IN,jdbcType=VARCHAR,mode=IN},
        #{treat_no,mode=OUT,jdbcType=VARCHAR}
    </select>
    <!-- 挂号类别查询-->
    <select id="getGhTypeAllList" resultMap="ghTypeMap" statementType="CALLABLE">
        {call pMobile_GhTypeList}
    </select>

    <!--门诊缴费查询-->
    <select id="getMzPayableList" resultMap="mzPayAbleMap" statementType="CALLABLE">
        {call pMobile_MzPayableList(#{card_no,mode=IN})}
    </select>

    <!--住院缴费查询-->
    <select id="getZyPayable" resultMap="zyPayAbleMap" statementType="CALLABLE">
        {call pMobile_ZyPayable(#{card_no,mode=IN})}
    </select>

    <!--住院缴费-->
    <select id="insertZyPay" resultType="java.lang.Integer" statementType="CALLABLE">
        {call pMobile_ZyPayable(#{ZyBm,mode=IN},#{Total,mode=IN})}
    </select>

    <!--住院预缴费-->
    <select id="insertZyPrePay" resultType="java.lang.Integer" statementType="CALLABLE">
        {call pMobile_ZyPayable(#{card_no,mode=IN},#{Total,mode=IN})}
    </select>


</mapper>